@font-face {
    src: url(../../storage/fonts/ModesticSans.ttf);
    font-family: Modestic-Sans;
}

body {
    /* Flexbox pro header e footer */
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

    font-family: Modestic-Sans;
    overflow-x: hidden;
}

main {
    padding: 1rem;
    flex-grow: 1;
}

/* Header =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.navdiv {
    background-color: #FF881C;
    border-bottom: 15px #FFB776 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 2vw;

    color: #ffe7d3;
}

.header-logo {
    height: 5vw;
    transition: .3s;
}

.navdiv>ul>li {
    padding: 0 1vw;
    list-style: none;
    display: inline-block;
}

.navdiv>ul>li>a {
    font-size: 25px;
    padding: 5px 30px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transform-origin: center;
}

/* Precisa aplicar o transition aqui pra o efeito de hover funcionar in e out */
.navdiv>ul>li>.home-div>a,
.navdiv>ul>li>.products-div>a,
.navdiv>ul>li>.cart-div>a,
.navdiv>ul>li>.dropdown>.profile-div>h1,
.navdiv>ul>li>.dropdown>.profile-div {
    transition: transform 0.3s ease, color 0.3s ease;
}

.navdiv>ul>li>.home-div>a:hover,
.navdiv>ul>li>.products-div>a:hover,
.navdiv>ul>li>.cart-div>a:hover,
.navdiv>ul>li>.dropdown>.profile-div>h1:hover,
.navdiv>ul>li>.dropdown>.profile-div:hover,
.header-logo:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: rgba(255, 255, 255, 0.770);
    transition: transform 0.3s ease, color 0.3s ease;
    backface-visibility: hidden;
    /*  tentativa 1 de tirar o blur do texto (deu ruim)*/
    -webkit-font-smoothing: antialiased;
    /* tentativa 2 de tirar o blur (fudeu) */
}

/* Home (texto)  -------------------------------- */

.homeIcon {
    height: 27px;
    width: auto;
    margin-left: 10px;
    margin-bottom: 8px;
}

.home-div>a {
    display: inline-flex;
    align-items: center;

    font-size: 25px;
    text-decoration: none;
    color: white;
}

/* Produtos  -------------------------------- */

.productsIcon {
    height: 27px;
    width: auto;
    margin-left: 10px;
    margin-bottom: 8px;
}

.products-div>a {
    display: inline-flex;
    align-items: center;

    font-size: 25px;
    text-decoration: none;
    color: white;
}

/* Carrinho  -------------------------------- */

.cart-div>a {
    display: inline-flex;
    align-items: center;

    font-size: 25px;
    text-decoration: none;
    color: white;
}

.cartIcon {
    height: 27px;
    width: auto;
    margin-left: 10px;
    margin-bottom: 8px;
}

/* Perfil Dropdown --------------------------------- */

.profile-div {
    display: inline-flex;
    align-items: center;
}

.profile-div>h1 {
    color: white;
}

.profileIcon {
    height: 27px;
    width: auto;
    margin-left: 10px;
    margin-bottom: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 10px;
    text-align: left;
    display: none;
    position: absolute;
    margin-top: -10px;
    width: 9vw;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    border-radius: 5px;
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content::before {
    color: white;
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#logoutButton {
    color: red;
}

/* Footer =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.footer-div {
    padding: 1rem;
    font-size: 20px;
    color: white;
    background-color: #FF881C;
    border-top: 18px #FFB776 solid;
    text-align: center;
}

/* Configuração da conta =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.UC-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-top: 1vh;
    margin-bottom: 6vh;
}

/* Usuário --------------------- */

#user-config-page-title {
    font-size: 2.2rem;
    text-align: center;
}

#user-config-text {
    text-align: center;
}

.user-config-container {
    background: #fffbe1;
    margin: 0 2vw;
    padding: 2vh 2vw;
    width: 18vw;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.user-config-name,
.user-config-email,
.user-config-member-since {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    margin: 2vh 0;
    padding: 0.1vh 1vw;
    transition: transform 0.2s, background-color 0.3s, color 0.3s;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);

    &>p {
        color: black;
        font-size: 1.1rem;
        text-align: center;
    }
}

.user-config-name:hover,
.user-config-email:hover,
.user-config-member-since:hover {
    color: black;
    background-color: white;
    transform: scale(1.05);
}


/* Vendedor ------------------- */

#seller-config-text {
    text-align: center;
}

.seller-config-container {
    background: #fffbe1;
    margin: 0 2vw;
    padding: 2vh 5vw;
    margin-top: 6.5vh;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.seller-name,
.seller-cpf,
.seller-phone {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    margin: 2vh 0;
    padding: 0.1vh 1vw;
    transition: transform 0.2s, background-color 0.3s, color 0.3s;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.15);

    &>p {
        color: black;
        font-size: 1.1rem;
        text-align: center;
    }
}

.seller-name:hover,
.seller-cpf:hover,
.seller-phone:hover {
    color: black;
    background-color: white;
    transform: scale(1.05);
}

.seller-deactivate-button {
    text-align: center;

    &>form>button {
        transition: background-color 0.3s;
        font-size: 1rem;
        font-weight: bolder;
        padding: 2vh 2vw;
        background-color: white;
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 30px;
        border: 2px solid rgba(0, 0, 0, 0.15);
    }
}

.seller-deactivate-button>form>button:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}

/* Warn */

.admin-auth-text {
    width: 600px;
    padding: 1vh 0;
    margin: 6vh auto;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    background-color: #fffbe1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Botão de ativação de vendedor */

.seller-activate-button {
    text-align: center;

    &>form>button {
        transition: background-color 0.3s;
        font-size: 1rem;
        font-weight: bolder;
        padding: 2vh 2vw;
        margin: 2vh 0;
        background-color: #fffbe1;
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 30px;
        border: 2px solid rgba(0, 0, 0, 0.15);
    }
}

.seller-activate-button>form>button:hover {
    cursor: pointer;
    background-color: #eee8c5;
}


/* Vendedor Formulario */

.seller-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #fffbe1;
    margin: 0 2vw;
    padding: 2vh 5vw;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.15);
}



.seller-form-name,
.seller-form-cpf,
.seller-form-phone {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    margin: 1vh 0;
    padding: 2vh 1vw;
    width: 18vw;
    transition: transform 0.2s, background-color 0.3s, color 0.3s;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);

    &>input {
        color: black;
        font-size: 1.1rem;
        text-align: center;
        width: calc(100% - 1vw);
        margin: 0.75vh 0;
        padding: 0.75vh 0.5vw;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.1);
    }
}
.seller-form-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seller-form-submit-button>button {
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: bolder;
    padding: 2vh 2vw;
    margin: 1vh 0;
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.seller-form-submit-button>button:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}

.seller-form-name:hover,
.seller-form-cpf:hover,
.seller-form-phone:hover {
    color: black;
    background-color: white;
    transform: scale(1.05);
}


/* Produtos =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Table dos produtos */

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 20px;
}

.products-table {
    width: 65vw;
    margin: 25px 0;
    border-collapse: collapse;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.products-table thead tr {
    background-color: #FFB776;
    color: white;
    text-align: left;
    font-weight: bold;
}

.products-table th,
.products-table td {
    text-align: center;
    padding: 12px 15px;
}

.products-table tbody tr {
    border: 1px solid #dddddd;
}

.edit-button {
    text-decoration: none;
}

.edit-icon-div {
    margin: -3px 3px;
    height: 20px;
}

.product-add-icon {
    margin: -3px 3px;
    height: 20px;
}

.table-add-button {
    border: solid 1px #28a74691;
    background-color: #28a74691;
    text-align: center;

    &.table-add-button>a {
        font-size: 20px;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

/* 

isso aqui n funfa pq a table n tem fim :( 

.products-table tbody tr:last-of-type {
    border-bottom: 2px solid #FFB776;
}

*/

/* Home Page =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Slider */

#slider {
    margin: 0 auto;
    width: 65vw;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 10px;
    background: #fff;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}


#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

#slides .slide {
    border-radius: 10px;
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #000000;
}

#slides .slide_1 {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    border-left: none;
    background: #fffbe1;
}

#slides .slide_2 {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    border-left: none;
    background: #fffbe1;
}

#slides .slide_3 {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    border-left: none;
    background: #fffbe1;
}

#bullets {
    margin: 10px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3) {
    background: #444;
}

.slide-content {
    width: 80%;

}

.upper-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
}

.product-info-slider {
    font-size: 18px;
}

.product-info-slider>p {
    margin: 2em 0;
}

.product-info-slider {
    text-align: center;
    margin-right: 20px;
}

.product-image-slider {
    display: flex;
    justify-content: center;
}

.product-icon {
    width: 12vw;
    max-width: 100%;
    height: auto;
}

.lower-content>a {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 20px 20px;
    color: black;
    text-decoration: none;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.lower-content>a:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* Grid dos outros produtos */

#other-products-text {
    text-align: center;
    margin: 40px 0;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.product-item {
    background-color: #fffbe1;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-image img {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
}

.product-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-info p {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-info a {
    display: inline-block;
    padding: 8px 12px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.product-info a:hover {
    background-color: rgb(228, 228, 228);
}

/* Página do produto singular */

.product-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.product {
    display: grid;
    border: 2px solid rgba(0, 0, 0, 0.15);
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: #fffbe1;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

/* Product Image */
.product-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffcfc00;
    border-radius: 8px;
    padding: 20px;
    min-height: 300px;
}

.product-picture p {
    color: #6c757d;
    font-style: italic;
}

/* Product Data */
.product_data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product_data p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #343a40;
}

.product-cart {
    grid-column: span 2;
    text-align: center;
}

.product-cart p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.product-cart button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

#back-to-home-button {
    text-decoration: none;
    margin: 30px 0;
    background-color: #FF881C;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

.product-cart button:hover {
    background-color: rgb(228, 228, 228);
}

#product-title {
    font-size: 40px;
}

/* Página do carrinho =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Cart Page Container */
.cart-page {
    max-width: 800px;
    margin: 35px auto;
    padding: 20px;
    border: 2px rgba(0, 0, 0, 0.1) solid;
    background-color: #fffbe1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-page h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 35px;
    color: #333;
}

.cart {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    background-color: #fffdf4;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product-in-cart {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.product-in-cart p {
    margin: 5px 0;
    color: #333;
}

.product-in-cart a {
    color: #7bbbff;
    text-decoration: none;
    font-weight: bold;
}

.product-in-cart a:hover {
    text-decoration: underline;
}

.cart-less,
.cart-more {
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.cart-less:hover,
.cart-more:hover {
    background-color: #0056b3;
}

.cart-less[onclick] {
    background-color: #ff6767;
    color: white;
    padding: 6px 14px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.remove-button[onclick] {
    background-color: #ff6767;
    color: white;
    padding: 6px 14px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.cart-less[onclick]:hover,
.remove-button[onclick]:hover {
    background-color: #ff0019;
}

.empty-cart-btn {
    text-align: center;
}

.empty-cart-btn button {
    background-color: #ffc400;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.empty-cart-btn button:hover {
    background-color: #ff9900;
}

.cart-total {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.cart-total>p {
    font-size: 1.5rem;
}

.cart-total span {
    color: #28a745;
}

.cart-form {
    text-align: center;
}

.cart-form button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.cart-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.cart-form button:hover:not(:disabled) {
    background-color: #218838;
}

/* Página do histórico =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.sales-report {
    border: 1px black solid;
}

.history-item-grid {
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.history-grid-item {
    border: 1px black solid;
}

/* Modal =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* Modal Edit */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}


.modal-content>form {
    margin: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content>form>label {
    margin-bottom: 5px;
    font-size: 18px;
}

.modal-content>form>input,
.modal-content>form>select {
    text-align: center;
    outline: none;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
    margin-bottom: 15px;
}

/* por algum motivo esses 2 não possuem a mesma escala (estou levemente exaltado) */
.modal-content>form>input {
    width: 75%;
}

.modal-content>form>select {
    width: 82%;
}

/* Modal Add */

.create-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}


.create-modal-content>form {
    margin: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-modal-content>form>label {
    margin-bottom: 5px;
    font-size: 18px;
}

.create-modal-content>form>input,
.create-modal-content>form>select {
    text-align: center;
    outline: none;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
    margin-bottom: 15px;
}

.create-submit-button-div {
    width: 60%;
    margin: 10px 0;
    text-align: center;
    font-size: 15px;
    padding: 7px 10px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.create-modal-content>form>input {
    width: 200px;
}

.create-modal-content>form>select {
    width: 230px;
}

/* --------------------------- */

.modal-content>form>.inline-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.amount-in-stock-div>input {
    width: 27%;
}

.amount-in-stock-div,
.product-deactivate-div {
    margin: 0 10px;
}

.amount-in-stock-div>input,
.product-deactivate-div>select {
    text-align: center;
    outline: none;
    border: solid 1px gray;
    border-radius: 5px;
}

.edit-submit-button-div {
    width: 50%;
    margin: 10px 0;
    text-align: center;
    font-size: 15px;
    padding: 7px 10px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.close {
    /* tive que mudar essa bagaça toda pq o X tava contando com uma entidade dentro do modal */
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 60px;
    font-weight: bold;
}

.create-submit-button-div:hover,
.create-submit-button-div:focus,
.edit-submit-button-div:hover,
.edit-submit-button-div:focus {
    border: solid 1px black;
    cursor: pointer;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos gerais para o alerta */
.notification {
    position: fixed;
    top: 17vh;
    /* Mantenha a posição vertical desejada */
    right: -100%;
    /* Começa fora da tela à direita */
    width: 350px;
    /* Defina uma largura fixa ou desejada */
    padding: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
    z-index: 1000;
    /* Aumente o z-index para garantir que apareça acima de outros elementos */
    transition: right 0.5s ease-in-out;
    /* Animação para aparecer */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Exibir o alerta */
.notification.show {
    right: 0;
    /* Alinha a notificação 25px da direita ao ser exibida */
}

/* Estilos baseados no tipo de alerta */
.notification.success {
    background-color: #28a745;
    /* Verde para sucesso */
}

.notification.warning {
    background-color: #ffc107;
    /* Amarelo para aviso */
    color: black;
}

.notification.info {
    background-color: #17a2b8;
    /* Azul para informação */
}

.notification.error {
    background-color: #dc3545;
    /* Vermelho para erro */
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .notification {
        width: 80vw;
        /* Ajuste a largura para telas menores */
        right: -80vw;
        /* Ajusta para fora da tela */
    }

    .notification.show {
        right: 10vw;
        /* Ajuste para a posição desejada ao exibir */
    }
}